<template>
    <div class="page" data-name="about">
        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner sliding">
                <div class="title">Calendrier !</div>
            </div>
        </div>
        <div class="page-content container">
            <div id="event-group" class="padding-vertical-half">
                <button id="add-event" class="col button button-fill margin-top margin-left"
                    style="border-radius: 50%; height: 50px; width: 50px !important">
                    <i id="add-event-icon" class="size-28 f7-icons if-not-md">add</i>
                    <i id="add-event-icon" class="size-28 material-icons md-only">add</i>
                </button>

                <div id="new-event" class="margin-top">
                    <div class="block-title margin-top-half" style="color: white !important;">Nouvel évenement</div>

                    <div class="card">
                        <div class="card-header">
                            <input name="title-event" type="text" placeholder="Titre..." maxlength="35" />
                        </div>
                        <div class="card-content card-content-padding">
                            <textarea name="desc-event" placeholder="description..."></textarea>
                        </div>
                        <div class="card-content card-content-padding">
                            <div class="block-title no-margin-left">Date et heure</div>
                            <div class="list no-hairlines-md">
                                <ul>
                                    <li>
                                        <div class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-input-wrap">
                                                    <input type="text" placeholder="Selection de la date et l'heure"
                                                        readonly="readonly" id="demo-calendar-date-time"
                                                        name="date-event" />
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content card-content-padding">
                            <div class="list">
                                <a class="item-link smart-select smart-select-init" data-open-in="sheet">
                                    <select name="cat-event">
                                        <option value="none" selected>---</option>
                                        <option value="Soirée Alcool">Soirée Alcool</option>
                                        <option value="Soirée Jeux">Soirée Jeux</option>
                                        <option value="Soirée Chill">Soirée Chill</option>
                                        <option value="Aprem à l'appart">Aprem à l'appart</option>
                                        <option value="Aprem en ville">Aprem en ville</option>
                                        <option value="Voyage">Voyage</option>
                                        <option value="Anniversaire">Anniversaire</option>
                                    </select>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">Catégorie</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="card-footer justify-content-flex-start">
                            <img style="width: 40px; height: 40px; border-radius: 50%; background-color: gray" />
                            <p class="margin-left">Utilisateur actuel</p>
                        </div>
                    </div>
                    <div class="card-footer justify-content-flex-start">

                        <div class="display-flex justify-content-center margin">
                            <a id="newEventCreate" class="new-event-create col button button-outline margin-top"
                                style="color: white !important; font-size: 15px;">
                                Créer l'évenement
                            </a>
                        </div>
                    </div>
                </div>


                        <!-- <div class="card ">
                    <div class="card-header">
                        <p>Soirée déguisé ! Thème : Arcane</p>
                    </div>
                    <div class="card-content card-content-padding">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Morbi
                        lobortis et massa ac interdum. Cras consequat felis at consequat hendrerit.</div>
                    <div class="card-footer justify-content-flex-start">
                        <img src="https://placeimg.com/80/80/people/1" style="width: 40px; height: 40px; border-radius: 50%" />
                        <p class="margin-left">Don Dada Mixtape</p>
                    </div>
                </div> -->

            </div>
            <div class="block-title">Les évenement à venir</div>
                <div class="list">
                    ${event_info.value.map((evt) => $h`
                        <div class="card ">
                            <div class="card-header">
                                <p>${evt.title}</p>
                            </div>
                            <div class="card-content card-content-padding">
                                ${evt.description}
                            </div>
                            
                            <div class="card-content card-content-padding event-card-categorie">
                                <p>${evt.categorie}</p> 
                            </div>
                            <div class="row">
                                <div class="card-footer justify-content-flex-start width-50">
                                    <img src="https://placeimg.com/80/80/people/1" style="width: 40px; height: 40px; border-radius: 50%" />
                                    <p class="margin-left">Don Dada Mixtape</p>
                                </div>
                                <div class="card-footer justify-content-flex-end width-50">
                                    <p class="event-date-display">${evt.date}</p>
                                </div>
                            </div>
                        </div>
                    `)}
                </div>
        </div>
    </div>
</template>

<script>
    export default (props, { $store, $, $f7, $on }) => {

        const event_info = $store.getters.event_info;
        return $render;
    }
</script>