<template>
<div class="page" data-name="profile-edit">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span class="if-not-md">Back</span>
        </a>
      </div>
      <div class="title">Editer</div>
      <div class="right">
        <a href="#" @click=${showToastCenter} class="link back validate-profile">
          <i class="icon material-icons">done</i>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content" id="edit-profile">
    <div class="block-title">Informations</div>
    <div class="list no-hairlines-md">
      <ul>
        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Nom</div>
              <div class="item-input-wrap">
                <input name="fullname" type="text" placeholder="Michel Jardinier" />
              </div>
            </div>
          </div>
        </li>
        <li class="align-top">
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Description</div>
              <div class="item-input-wrap">
                <textarea name="desc" placeholder="Desc..."></textarea>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="block">
      <p>
        Ces informations sont celles affichées pour les autres utilisateurs sur
        votre profil.
      </p>
    </div>
  </div>
</div>
</template>
<script>
  export default (props, { $f7, $theme, $on, $store }) => {

  
    let toastCenter;
    const showToastCenter = () => {
      // Create toast
      if (!toastCenter) {
        toastCenter = $f7.toast.create({
          text: 'Changements enregistrés',
          position: 'center',
          closeTimeout: 2000,
        });
      }
      // Open it
      toastCenter.open();


      // var profile_infos = {
      //   displayname: $('#edit-profile [name=fullname]').val(),
      //   desc: $('#edit-profile [name="desc"]').val(),
      // }
      // console.log(profile_infos)
      // // console.log($store.getters.current_user.value)
      // $store.dispatch('updateUserInfos', profile_infos)
    }

    return $render;
  }
</script>