<template>
  <div class="page" data-name="editaccount">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">Compte</div>
        <div class="right">
          <a href="" @click=${showToastCenter} class="link back validate-account">
            <i class="icon material-icons">done</i>
          </a>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="list no-hairlines-md">
        <div class="item-content item-input">
          <div class="item-inner">
            <div class="item-title item-label">${currentOpt.title}</div>
            <div class="item-input-wrap">
              <input
                id='input-account-edit'
                name=${currentOpt.name}
                type="${currentOpt.type}"
                placeholder="${currentOpt.placeholder}"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default (props, { $f7route, $store, $f7, $theme, $on }) => {



    const options = $store.getters.edit_profile;
    const optionId = $f7route.params.id;

    let currentOpt;
    options.value.forEach((opt) => {
      if (opt.id === optionId) {
        currentOpt = opt;
      }
    });

    let toastCenter;
    const showToastCenter = () => {
      // Create toast
      if ($('#input-account-edit').val() != "") {
        if (!toastCenter) {
          toastCenter = $f7.toast.create({
            text: 'Changements enregistrés',
            position: 'center',
            closeTimeout: 2000,
          });
        }
        // Open it
        toastCenter.open();
        
      }
    }

    return $render;
  };
</script>
