<template>
  <div class="page" data-name="profile">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="title">Profil</div>
      </div>
    </div>
    <div class="page-content">
      <div class="block text-align-center margin-bottom">
        <div class="icons">
          <i class="icon f7-icons size-100 if-not-md">person_alt_circle</i>
          <i class="icon material-icons size-100 md-only">account_circle</i>
        </div>
        <h1>${store.state.user_infos}</h1>
        <p>benj.bord@gmail.com</p>
        <p>Compte créé depuis le 10/11/21</p>
      </div>
      <div class="block-title">Profil</div>
      <div class="list">
        <ul>
          <li>
            <a href="/profile/edit/" class="item-content item-link">
              <div class="item-inner">
                <div class="item-title">Editer le profil</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="block-title">Compte</div>
      <div class="list">
        <ul>
          ${options.value.map((opt) => $h`
          <li>
            <a href="/account/edit/${opt.id}/" class="item-content item-link account-edit-link">
              <div class="item-inner">
                <div class="item-title">${opt.title}</div>
              </div>
            </a>
          </li>
          `)}
        </ul>
      </div>
      <div class="block">
        <button class="button button-fill open-confirm-signout color-blue">
          Deconnexion
        </button>
        <button class="button button-fill open-confirm-delaccount color-red margin-top">
          Supprimer le compte
        </button>
      </div>
    </div>
  </div>
</template>
<script>
  export default ( props, { $store, $, $f7, $on, $onMounted }) => {

    const options = $store.getters.edit_profile;
    //console.log()
    $on('pageInit', () => {
      // Confirm
      //console.log($store)
      
      
      
    })

    $('#profile-route').on('click', function () {
      const userInfos = $store.getters.user_infos.value
      console.log(userInfos)
    })
    
    return $render;
  };
</script>
